header{
    background: rgb(245 246 248 / 90%);
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto;
    padding: 5px 10px;
    color: var(--negro);
    justify-items: stretch;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
}

/* Marca */
header .logo, header .user{
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
}

header .logo img, header .user img{
    max-width: 40px;
    padding: 0 5px;
}

header .logo h1{
    font-size: 30px;
}

/* Navegador */
header .nav{
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
header .nav > a{
    font-size: 22px;
    padding: 5px 10px;
    text-transform: uppercase;
    color: var(--negro);
    transition: 0.3s;
}

header .nav a:hover{
    opacity: 0.6;
}

header .nav > a.active,
header .nav > a.active:hover{
    color: rgb(196, 196, 196);
    opacity: 1;
    cursor: help;
}


/* Usuario */
header .user img{
    border-radius: 50%;
}

header .user span{
    font-size: 30px;
    font-family: 'Metal Mania', cursive;
}

header .buscador{
    display: grid;
    align-items: center;
    grid-template-columns: 1fr auto;
}

header .buscador input{
    height: 30px;
    margin-right: 5px;
    font-family: 'Metal Mania', cursive;
}

header .buscador a svg{
    padding-top: 5px;
}

/* Adaptación a tabletas */
@media (min-width: 768px) and (max-width: 1024px) {

}

/* Adaptación a movil */
@media (min-width: 0px) and (max-width: 767px) {
    header{
        grid-template-columns: 1fr;
        justify-items: stretch;
    }

    header .logo, header .user{
        grid-template-columns: auto 1fr;
        justify-self: center;
        padding: 10px 0 ;
    }

    header .logo{
        cursor: pointer;
    }

    header .nav{
        grid-auto-flow: row;
        justify-content: center;
    }

    .activado{
        display: grid !important;
    }

    .desactivado{
        display: none !important;
    }

}
