<!-- Imagen de papel-->
<img class="papel-turock ptr-top" src="/assets/img/papel.png" alt="Papel TuRock">

<header class="navbar">
    <div class="logo">
        <img src="assets/img/LogoTuRock.png" alt="TuRock">
        <h1>Título</h1>
    </div>
    <nav class="nav">
        <a [routerLink]="['home']" routerLinkActive="active" >Home</a>
        <a [routerLink]="['groups']" routerLinkActive="active" >Grupos</a>
        <input type="search">
    </nav>
    <div class="user">
        <img src="assets/img/avatar.jpg" alt="Avatar">
        <span>Nombre</span>
    </div>
</header>


