<section  class="slider">
    <ul>
        <li>
            <p>Página de los Grupos</p>
            <img src="assets/img/TuRock-page-grupos.png" alt="Página grupos">
        </li>
        <li>
            <p>Página del grupo seleccionado</p>
            <img src="assets/img/TuRock-page-grupo.png" alt="Página grupo">
        </li>
        <li>
            <p>Página de buscador de grupos</p>
            <img src="assets/img/TuRock-page-buscador.png" alt="Página buscador">
        </li>
        <li>
            <p>Formulario para añadir grupo</p>
            <img src="assets/img/TuRock-page-form.png" alt="Página de formulario">
        </li>
        <li>
            <p>Validación del formulario</p>
            <img src="assets/img/TuRock-page-form-validacion.png" alt="Página de validación de formulario">
        </li>
        <li>
            <p>Adaptada a móvil y tableta</p>
            <img src="assets/img/TuRock-movil.png" alt="Movil">
        </li>
    </ul>
</section>
