<section  class="slider">
    <ul>
        <li>
            <p>Página de los Grupos</p>
            <img src="assets/img/TuRock-page-grupos.png" alt="Avatar">
        </li>
        <li>
            <p>Página del grupo seleccionado</p>
            <img src="assets/img/TuRock-page-grupo.png" alt="photo 2">
        </li>
        <li>
            <p>Página de buscador de grupos</p>
            <img src="assets/img/TuRock-page-buscador.png" alt="photo 3">
        </li>
        <li>
            <p>Formulario para añadir grupo</p>
            <img src="assets/img/TuRock-page-form.png" alt="photo 4">
        </li>
        <li>
            <p>Validación del formulario</p>
            <img src="assets/img/TuRock-page-form-validacion.png" alt="photo 5">
        </li>
    </ul>
</section>
