section main{
    max-width: 900px;
    margin: 0 auto;
}

/* CSS del Artítulo */
section main article{
    display: grid;
}

article p{
    background: url("https://i.pinimg.com/originals/33/8b/65/338b65bfb713c5f83404a65f32dc87e7.jpg");
    background-size: cover;
    background-attachment: fixed;
    padding: 25px 25px;
}

article img{
    box-shadow: 0 0 10px var(--negro);
}

article header h1{
    color: var(--negro);
    font-size: 60px;
    margin-bottom: 50px;
    text-align: center;
    padding: 20px;
}

article footer {
    background: var(--blanco);
    margin-top: 20px;
    border: 1px solid var(--negro);
    color: var(--negro);
    padding: 10px 20px;
}

article footer a{
    color: rgb(160, 160, 160);
}

article footer .opciones{
    float: right;
}

article footer .opciones a{
    margin-left: 10px;
}

article footer a:hover{
    color: var(--negro);
}

/* Adaptación a movil */
@media (min-width: 0px) and (max-width: 767px) {
    article footer .opciones{
        float: none;
        margin-top: 10px;
    }
}

/* Formateamos los elementos para el formato de impresora */
@media print
{
    article footer, article figure iframe{
        display: none !important;
    }

    article p{
        color: var(--negro);
    }
}
