<section class="page-grupo animated fadeIn fast">
    <main>
        <article>
            <app-header [tituloH]="grupo.nombre"></app-header>
            <figure>
                <img [src]="grupo.img" [alt]="grupo.nombre">
                <figcaption>Foto del grupo {{grupo.nombre}} </figcaption>
            </figure>
            <p>{{grupo.bio}}</p>
            <figure>
                <iframe
                    width="100%"
                    height="450"
                    [src]="grupo.video | domseguro"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen
                ></iframe>
                <figcaption>Vídeo del grupo {{grupo.nombre}} </figcaption>
            </figure>
            <footer>
                Mas información en: <a [href]="grupo.wiki | domseguro"><i class="fab fa-wikipedia-w"></i>ikipedia</a>
                <div class="opciones">
                    <a (click)="editarGrupo(grupo.idx)"><i class="far fa-edit"></i></a>
                    <a [href]=""><i class="far fa-trash-alt"></i></a>
                </div>
            </footer>
        </article>
    </main>

    <aside>
        <app-share [urlRuta]="urlRuta"></app-share>
    </aside>
</section>
