/* Bucle de grupos y articulo de grupo */
section main .bucle{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3em;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2vh;
}

.bucle .grupo{
    background: url("https://i.pinimg.com/originals/33/8b/65/338b65bfb713c5f83404a65f32dc87e7.jpg");
    background-size: cover;
    background-attachment: fixed;
    color:#fff;
    cursor: pointer;
    padding: 1em;
    transition: 1s;
    border: 1px solid black;
}

.bucle .grupo:hover{
    border: 1px solid white;
}

/* Adaptación a tabletas */
@media (min-width: 768px) and (max-width: 1024px) {

    section main .bucle{
        grid-template-columns: repeat(2, 1fr);
    }

}

/* Adaptación a móvil */
@media (min-width: 0px) and (max-width: 767px) {
    section main .bucle{
        grid-template-columns: repeat(1, 1fr);
    }

    .grupo header h2{
        text-align: center;
    }
}
