<!--
    Página de vista para los resultados del buscador
 -->

<section class="pag-buscador animated fadeIn fast">

    <main>
        <app-header [tituloH]="'Buscador'" [descripcionH]="descripcionH"> </app-header>
        <section class="bucle">
            <app-group-card
                class="grupo"
                [grupo]="grupo"
                [index]="grupo.idx"
                *ngFor="let grupo of grupos;
                let i = index"
            ></app-group-card>
        </section>
    </main>

    <aside>
        <app-share [urlRuta]="urlRuta"></app-share>
    </aside>

</section>
