<!--
    Vista de la página grupos
-->

<section class="pag-grupos animated fadeIn fast">

    <main>
        <app-header [tituloH]="'Grupos'" [descripcionH]="'Los mejores grupos de Rock de la historia.'"></app-header>
        <section class="bucle">
            <!-- Componente de tarjeta de grupos-->
            <app-group-card
                class="grupo"
                (grupoSeleccionado)="verGrupo($event)"
                [grupo]="grupo" [index]="i"
                *ngFor="let grupo of grupos;
                let i = index"
            ></app-group-card>
        </section>
    </main>

    <aside>
        <app-share [urlRuta]="urlRuta"></app-share>
    </aside>

    <a class="nuevo-grupo" routerLink="group/nuevo">Añadir grupo</a>
</section>
