/* Formateo */
:root {
    --blanco: white;
    --negro: black;

    --input-border: #8b8a8b;
    --input-focus-h: 0;
    --input-focus-s: 0%;
    --input-focus-l: 100%;

    --input-focus-h-invalid: 0;
    --input-focus-s-invalid: 74%;
    --input-focus-l-invalid: 31%;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body{
    background-color: var(--negro);
    color: var(--blanco);
    font-family: 'Mate SC', serif;
    font-size: 22px;
    margin: 0;
    padding-top: 100px;
}

input:not(textarea) {
    line-height: 1;
    height: 2.25rem;
}

input,textarea{
    font-family: 'Mate SC', serif;
    border-radius: 5px;
    background-color: var(--blanco);
    border: 2px solid var(--input-border);
    padding: 5px;
    transition: 180ms box-shadow ease-in-out;
}

input[readonly], textarea[readonly] {
    border-style: dotted;
    cursor: not-allowed;
    color: #777;
}

input[disabled] , textarea[disabled]{
    --input-border: #ccc;
    background-color: #eee;
    cursor: not-allowed;
}

input:focus, textarea:focus {
    border-color: hsl(var(--input-focus-h), var(--input-focus-s), var(--input-focus-l));
    box-shadow: 0 0 0 3px hsla(var(--input-focus-h), var(--input-focus-s), calc(var(--input-focus-l) + 40%), 0.8);
    outline: 3px solid transparent;
}

textarea{
    font-size: 20px;
}

input{
    font-size: 22px;
}

button {
	box-shadow:inset 0px 1px 3px 0px #3a3d3d;
	background-color: var(--negro);
	border-radius:5px;
	border:1px solid var(--negro);
	display:inline-block;
	cursor:pointer;
	color: var(--blanco);
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:15px 40px;
	text-decoration:none;
    transition: 0.3s;
}
button:hover {
	background-color: var(--blanco);
    color: var(--negro);
}

button:active {
	position:relative;
	top:1px;
}


a{
    cursor: pointer;
    text-decoration: none;
    transition: 0.3s;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Metal Mania', cursive;
    margin: 0;
}

figure{
    margin: 0;
    padding: 0;
}

figure figcaption{
    font-size: 12px;
    text-align: right;
}

img{
    height: auto;
    width: 100%;
}

pre{
    background-color: var(--negro);
    color: var(--blanco);
}

/* FW CSS */

.papel-turock{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -1;
}

.mensaje{
    color: red;
}

.is-invalid{
    border-color: hsl(var(--input-focus-h-invalid), var(--input-focus-s-invalid), var(--input-focus-l-invalid));
    box-shadow: 0 0 0 3px hsla(var(--input-focus-h-invalid), var(--input-focus-s-invalid), calc(var(--input-focus-l-invalid) + 40%), 0.8);
    color: var(--blanco) !important;
}

.btn-nuevo-grupo{
    background-color: var(--blanco);
    border-radius: 50%;
    bottom: 0;
    color: var(--negro);
    font-size: 30px;
    margin: 10px;
    padding: 5px 12px;
    right: 0;
    position: fixed;
}

/* Adaptación a tabletas */
@media (min-width: 0px) and (max-width: 1024px) {
    .ptr-top{
        position: fixed;
        top: 0;
        width: 1600px;
    }
}

/* Adaptación a movil */
@media (min-width: 0px) and (max-width: 767px) {
    body{
        padding-top: 115px;
    }
}

/* Animaciones */
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}
