/* Formateo */
body{
    background-color: black;
    color: white;
    font-family: 'Mate SC', serif;
    font-size: 22px;
    margin: 0;
    padding-top: 100px;
}

a{
    text-decoration: none;
    cursor: pointer;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Metal Mania', cursive;
    margin: 0;
}

figure{
    margin: 0;
    padding: 0;
}

figure figcaption{
    font-size: 12px;
    text-align: right;
}

img{
    height: auto;
    width: 100%;
}

input{
    font-size: 22px;
}

/* FW CSS */

.contenedor{
    display: grid;
}

.papel-turock{
    z-index: -1;
    width: 100%;
}

.ptr-top{
    position: fixed;
    top: 0;
}

.mensaje{
    color: red;
}

/* Adaptación a tabletas */
@media (min-width: 768px) and (max-width: 1024px) {

}

/* Adaptación a movil */
@media (min-width: 0px) and (max-width: 767px) {
    body{
        padding-top: 115px;
    }

    .ptr-top{
        position: fixed;
        top: 0;
        width: 1600px;
    }
}

/* Animaciones */
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}
