<section class="share">
    <h3> Compárteme </h3>

    <div>
        <a href="https://www.facebook.com/sharer/sharer.php?u={{urlWeb}}{{urlRuta}}" target="_blank">
            <i class="fab fa-facebook-f"></i>
        </a>
        <a href="https://twitter.com/share?url={{urlWeb}}{{urlRuta}}/&amp;text=TuRock&amp;hashtags=empresiona&amp;via=PERFIL" target="_blank">
            <i class="fab fa-twitter"></i>
        </a>
        <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{urlWeb}}{{urlRuta}}" target="_blank">
            <i class="fab fa-linkedin"></i>
        </a>
        <a href="https://api.whatsapp.com/send?text=TuRock%20{{urlWeb}}{{urlRuta}}" target="_blank">
            <i class="fab fa-whatsapp"></i>
        </a>
        <a href="mailto:?Subject=TuRock;Body=Vi%20este%20artÍculo%20y%20pense%20que%20te%20podia%20interesar%20{{urlWeb}}{{urlRuta}}">
            <i class="far fa-envelope"></i>
        </a>
        <a href="javascript:;" onclick="window.print()">
            <i class="fas fa-print"></i>
        </a>
    </div>
</section>
